<div class="container">
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <mat-icon routerLink="/" aria-hidden="false" fontIcon="edit_square"></mat-icon>
                    <span class="text">Notes</span>
                </div>
                <nav>
                    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <ul>
                        <li>
                            <a routerLink="notes" mat-button>Заметки</a>
                        </li>
                        <li>
                            <a mat-button>Пользователь</a>
                        </li>
                        <li>
                            <a routerLink="authorization" mat-button>Войти</a>
                        </li>
                        <li>
                            <a (click)="auth.logout()" mat-button>Выйти</a>
                        </li>
                    </ul>
                </nav>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <mat-sidenav-container>

        <mat-sidenav #drawer>
            <div>
                <a mat-flat-button routerLink="notes">Заметки</a>
                <a mat-flat-button routerLink="">Пользователь</a>
                <a mat-flat-button routerLink="authorization">Войти</a>
                <a mat-flat-button (click)="auth.logout()" mat-button>Выйти</a>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <main class="main">
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <footer>
        <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>