<div class="container">

    <div class="content_container">

        <div class="add_note">
            <button *ngIf="selectedPage === 1" mat-raised-button color="primary" (click)="openDialog()">
                <mat-icon>note_add</mat-icon>
                add note
            </button>
        </div>

        <div class="drop-box">
            <div class="example-container">
                <h2 [ngStyle]="{'color': 'white'}">To do</h2>

                <div [cdkDropListDisabled]="isReady" cdkDropList #todoList="cdkDropList" [cdkDropListData]="
                incompleteNotes" [cdkDropListConnectedTo]="[doneList]" class="example-list"
                    (cdkDropListDropped)="move($event)">
                    <div class="example-box" *ngFor="let item of 
                    incompleteNotes$ | async" cdkDrag>
                        <div class="container-note">
                            <div class="container-title">{{item.title}}</div>
                            <div>
                                <button mat-flat-button routerLink="/Home/note/{{item.id}}">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="example-container">
                <h2 [ngStyle]="{'color': 'white'}">Done</h2>

                <div [cdkDropListDisabled]="isReady" cdkDropList #doneList="cdkDropList" [cdkDropListData]="
                completedNotes" [cdkDropListConnectedTo]="[todoList]" class="example-list"
                    (cdkDropListDropped)="move($event)">
                    <div class="example-box" *ngFor="let item of 
                    completedNotes$ |async" cdkDrag>
                        <div class="container-note">
                            <div class="container-title">{{item.title}}</div>
                            <div>
                                <button mat-flat-button routerLink="/Home/note/{{item.id}}">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="paginator">
            <button *ngFor="let page of totalPages" id="{{page}}" [class.paginator_button]="page === selectedPage"
                mat-stroked-button routerLink="/Home/notes/page/{{page}}" (click)="getNotes(page)">{{page}}</button>
        </div>
    </div>


</div>