.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container_note {
  display: flex;
  flex-direction: column;
  border: solid 4px black;
  margin-top: 50px;
  border-radius: 60px 60px 30px 30px;
  width: 500px;
  height: 700px;
}

.container_note_heder {
  display: flex;
  border-bottom: solid 2px black;
  width: 500px;
  height: 130px;
  border-radius: 56px 56px 0 0;
  background-color: #3f51b5;
}

.container_note_button {
  display: flex;
  color: white;
  margin-left: 225px;
  margin-top: 20px;
  gap: 25px;
}

.mat-icon {
  transform: scale(2);
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

.mat-icon:focus {
  color: #3f51b5;
}

.container_note_content {
  display: flex;
  flex-direction: column;
}

.container_note_content_title {
  border-bottom: solid 3px black;
  width: 450px;
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  word-break: break-all;
  padding: 25px;
  background: white;
}

.container_note_line_ditails {
  border-bottom: solid 3px black;
  width: 450px;
  height: 270px;
  font-size: 35px;
  line-height: 55px;
  padding: 25px;
  word-break: break-all;
  background: white;
}

.container_note_line_date {
  display: flex;
  align-items: center;
  gap: 70px;
  width: 470px;
  height: 61px;
  padding: 15px;
  font-size: 23px;
  line-height: 40px;
  border-radius: 0px 0px 23px 23px;
  background: white;
}

@media screen and (max-width: 570px) {
  .container_note {
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    margin-top: 50px;
    border-radius: 60px 60px 30px 30px;
    width: 323px;
    height: 600px;
  }

  .container_note_heder {
    display: flex;
    border-bottom: solid 2px black;
    width: 325px;
    height: 130px;
    border-radius: 56px 56px 0 0;
    background-color: #3f51b5;
  }

  .container_note_content_title {
    border-bottom: solid 3px black;
    width: 275px;
    height: 90px;
    font-size: 30px;
    word-break: break-all;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    padding: 25px;
    background: white;
  }

  .container_note_line_ditails {
    border-bottom: solid 3px black;
    width: 275px;
    height: 240px;
    font-size: 25px;
    line-height: 50px;
    padding: 25px;
    word-break: break-all;
    background: white;
  }

  .container_note_button {
    display: flex;
    color: white;
    margin-left: 125px;
    margin-top: 5px;
    gap: 0px;
  }

  .mat-icon {
    transform: scale(1);
  }

  .container_note_line_date {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 314px;
    height: 70px;
    padding: 5px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 0px 0px 30px 25px;
    background: white;
  }
}
