<div class="container">
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <mat-icon aria-hidden="false" fontIcon="edit_square"></mat-icon>
                    <span class="text">Notes</span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>