<div class="container">
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <mat-icon aria-hidden="false" fontIcon="edit_square"></mat-icon>
                    <a routerLink="/" class="text">Notes</a>
                </div>
                <div class="button_container">
                    <button routerLink="/Home" mat-flat-button color="primary">Home</button>
                    <button routerLink="/login" mat-flat-button color="primary">Login</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>